<a href="https://colab.research.google.com/github/RihabTsi/Project-Data-Science/blob/main/IMBD_Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
import re


from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score, confusion_matrix
from sklearn.utils import shuffle
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Embedding, GlobalAveragePooling1D
from tensorflow.keras.layers.experimental.preprocessing import TextVectorization
from nltk.corpus import stopwords
from nltk.tokenize.toktok import ToktokTokenizer
from textblob import TextBlob
from textblob import Word
import nltk

# Setup
!pip install -q wordcloud
import wordcloud

import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

# Read file with labels

In [4]:
df = pd.read_csv("/content/drive/MyDrive/ESG_BIG_DATA/Machine Learning/TP1 Critique IMBS/IMBD.csv")
df.head()

                                           Critiques  Label
0  I went and saw this movie last night after bei...      1
1  Actor turned director Bill Paxton follows up h...      1
2  As a recreational golfer with some knowledge o...      1
3  I saw this film in a sneak preview, and it is ...      1
4  Bill Paxton has taken the true story of the 19...      1

In [5]:
df.rename(columns = {'Critiques':'text'}, inplace = True)

In [6]:
df

                                                    text  Label
0      I went and saw this movie last night after bei...      1
1      Actor turned director Bill Paxton follows up h...      1
2      As a recreational golfer with some knowledge o...      1
3      I saw this film in a sneak preview, and it is ...      1
4      Bill Paxton has taken the true story of the 19...      1
...                                                  ...    ...
24995  I occasionally let my kids watch this garbage ...      0
24996  When all we have anymore is pretty much realit...      0
24997  The basic genre is a thriller intercut with an...      0
24998  Four things intrigued me as to this film - fir...      0
24999  David Bryce's comments nearby are exceptionall...      0

[25000 rows x 2 columns]

In [7]:
df = df.sample(frac=1).reset_index(drop=True)

In [8]:
train_ds=df[:17500]
train_ds.text[0]

'A delightful story about two evacuees, has been turned into a nice little film, by the BBC. Most children who like a good story will enjoy this. The characters are played really well by a very good cast. Not sure whether our American friends will appreciate it, but they do get a mention, as Aunty Lou runs off with a gorgeous American soldier.'

In [9]:
test_ds = df[17500:]
test_ds = test_ds.reset_index(drop=True)
test_ds.head()

                                                text  Label
0  This movie isn't worth going to the theaters t...      0
1  This movie was not very good in my opinion. Wh...      0
2  "Lights of New York" originally started out as...      1
3  Admirable but weak James Bond film mainly beca...      0
4  Quentin in my opinion has written and directed...      0

# Embedding **layer**

In [10]:
# Embed a 1,000 words/tokens vocabulary into 5 dimensions.
embedding_layer = tf.keras.layers.Embedding(1000, 5)
# We create a random list of three integers and use it as input for the embedding
# layer and take a look at the output.
result = embedding_layer(tf.constant([1, 2, 3]))
result.numpy()

# The result is a collection of three 5-dimensional vectors. Each element in the 
# original list has been replaced by a vector of 5 floating points.

array([[-0.02673417, -0.00708727,  0.01658465, -0.04912126,  0.01368606],
       [ 0.01869703,  0.04622107, -0.00688421,  0.02454608,  0.01546058],
       [ 0.03208982, -0.03843373,  0.03708104,  0.02728727,  0.00488452]],
      dtype=float32)

In [11]:
# The shape of the trainable_variables attribute confirms what we just explained.
embedding_layer.trainable_variables[0].shape

TensorShape([1000, 5])

# **Pre-Processing**

In [12]:
# We start by downloading spacy for the english language
!python -m spacy download en_core_web_sm -q

2022-12-03 20:36:02.332386: E tensorflow/stream_executor/cuda/cuda_driver.cc:271] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected
     |████████████████████████████████| 12.8 MB 5.2 MB/s
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [13]:
import en_core_web_sm
nlp = en_core_web_sm.load()

In [14]:
# Import Stop words 
from spacy.lang.en.stop_words import STOP_WORDS

In [15]:
#Cleaning TEXT
def sentence_rge(data):
    data=re.sub('<[^>]*>','',data) # Html taglerini kaldırma
    emoji=re.findall('(?::|;|=)(?:-)?(?:\)|\(|D|P)',data) #Emojileri bulma
    data=re.sub('[\W]+',' ',data.lower()) +\
                ' '.join(emoji).replace('-','')
    return data

In [16]:
print("Text before cleaning:: ",train_ds.text[0])
print("Text after cleaning:: ", train_ds.text.apply(sentence_rge)[0])

Text before cleaning::  A delightful story about two evacuees, has been turned into a nice little film, by the BBC. Most children who like a good story will enjoy this. The characters are played really well by a very good cast. Not sure whether our American friends will appreciate it, but they do get a mention, as Aunty Lou runs off with a gorgeous American soldier.
Text after cleaning::  a delightful story about two evacuees has been turned into a nice little film by the bbc most children who like a good story will enjoy this the characters are played really well by a very good cast not sure whether our american friends will appreciate it but they do get a mention as aunty lou runs off with a gorgeous american soldier

In [17]:
#Clean the columns text
train_ds['text_clean']=train_ds["text"].apply(sentence_rge)
# Remove all non alphanumeric characters except whitespaces
train_ds["text_clean"] = train_ds['text_clean'].apply(lambda x:''.join(ch for ch in x if ch.isalnum() or ch==" "))
# remove double spaces and spaces at the beginning and end of strings
train_ds["text_clean"] = train_ds['text_clean'].apply(lambda x: x.replace(" +"," ").lower().strip())
# remove stop words and replace everyword with their lemma
train_ds["text_clean"] = train_ds["text_clean"].apply(lambda x: " ".join([token.lemma_ for token in nlp(x) if (token.lemma_ not in STOP_WORDS) & (token.text not in STOP_WORDS)]))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
train_ds

,text,Label,text_clean
0,"A delightful story about two evacuees, has bee...",1,delightful story evacuee turn nice little film...
1,"Having already seen the original ""Jack Frost"",...",0,having original jack frost think jack frost 2 ...
2,I have nothing but praise for this movie and c...,1,praise movie cast especially ann margaret impo...
3,"Changi has a delightfully fresh script, acted ...",1,changi delightfully fresh script act superbly ...
4,"I say Ben Johnson and my fellow Canadians say,...",0,ben johnson fellow canadian ben johnson goddam...
...,...,...,...
17495,Usual awful movie... I'll not bother you about...,0,usual awful movie ll bother synopsis core arma...
17496,I've just revisited this fondly remembered bit...,1,ve revisit fondly remember bit cinematic madne...
17497,I want very much to believe that the above quo...,0,want believe quote specifically english subtit...
17498,Everyone's already commented on the obvious fa...,0,s comment obvious fact comment obviously peopl...
17499,"Admittedly, I tuned into this in the hopes of ...",0,admittedly tune hope beefcake shot james broli...

In [19]:
#Train_TEST
test_ds["text_clean"] = test_ds["text"].apply(sentence_rge)
test_ds["text_clean"] = test_ds["text_clean"].apply(lambda x: " ".join([token.lemma_ for token in nlp(x) if (token.lemma_ not in STOP_WORDS) & (token.text not in STOP_WORDS)]))

In [20]:
test_ds

,text,Label,text_clean
0,This movie isn't worth going to the theaters t...,0,movie isn t worth theater watch didn t like ef...
1,This movie was not very good in my opinion. Wh...,0,movie good opinion complete waste hour half lu...
2,"""Lights of New York"" originally started out as...",1,light new york originally start experimental...
3,Admirable but weak James Bond film mainly beca...,0,admirable weak james bond film mainly hero bon...
4,Quentin in my opinion has written and directed...,0,quentin opinion write direct good movie multip...
...,...,...,...
7495,My wife and I saw every episode in this series...,0,wife episode series love series cut short fina...
7496,"Target is the story of a special agent who, af...",0,target story special agent carry order assassi...
7497,One of the most underrated comedies. Dan Akroy...,1,underrated comedy dan akroyd hilarious role ch...
7498,This is the sort of unknown and forgotten film...,1,sort unknown forget film dream discover watch ...
7499,If you're a North American 'TOURIST' looking f...,0,north american tourist look trap trading space...

# **Tokenizer Text**

In [21]:
tokenizer = tf.keras.preprocessing.text.Tokenizer(num_words=10000) # instanciate the tokenizer
# num_words indicates the number of words to keep in the tokenization
# keeps only the most common words

tokenizer.fit_on_texts(train_ds.text_clean) # fit the tokenizer on the texts
# in this step the tokenizer will list all unique tokens in the text
# and associate them with a specific integer.

# This step will effectively transform the texts into sequences of indices
train_ds["text_encoded"] = tokenizer.texts_to_sequences(train_ds.text_clean)

# Sometimes the preprocessing removes all the words in a string (because they contain
# only stopwords for example) so we calculate the length in order to filter out
# those records
train_ds["len_text"] = train_ds["text_encoded"].apply(lambda x: len(x))
train_ds = train_ds[train_ds["len_text"]!=0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [22]:
train_ds

,text,Label,text_clean,text_encoded,len_text
0,"A delightful story about two evacuees, has bee...",1,delightful story evacuee turn nice little film...,"[1955, 11, 70, 195, 34, 3, 1550, 110, 5, 6, 11...",26
1,"Having already seen the original ""Jack Frost"",...",0,having original jack frost think jack frost 2 ...,"[530, 100, 449, 2305, 12, 449, 2305, 99, 1551,...",80
2,I have nothing but praise for this movie and c...,1,praise movie cast especially ann margaret impo...,"[1495, 2, 58, 123, 2093, 4068, 2613, 1495, 796...",105
3,"Changi has a delightfully fresh script, acted ...",1,changi delightfully fresh script act superbly ...,"[5362, 4687, 1123, 88, 36, 3026, 59, 41, 28, 2...",87
4,"I say Ben Johnson and my fellow Canadians say,...",0,ben johnson fellow canadian ben johnson goddam...,"[1151, 1956, 1405, 1999, 1151, 1956, 2, 57, 39...",96
...,...,...,...,...,...
17495,Usual awful movie... I'll not bother you about...,0,usual awful movie ll bother synopsis core arma...,"[499, 235, 2, 102, 626, 3236, 1338, 4957, 325,...",65
17496,I've just revisited this fondly remembered bit...,1,ve revisit fondly remember bit cinematic madne...,"[38, 4971, 8631, 183, 84, 1019, 2380, 151, 62,...",112
17497,I want very much to believe that the above quo...,0,want believe quote specifically english subtit...,"[31, 96, 1536, 2952, 423, 1319, 3262, 49, 81, ...",213
17498,Everyone's already commented on the obvious fa...,0,s comment obvious fact comment obviously peopl...,"[1, 261, 439, 69, 261, 357, 17, 3351, 3, 79, 1...",153
17499,"Admittedly, I tuned into this in the hopes of ...",0,admittedly tune hope beefcake shot james broli...,"[3259, 1311, 159, 215, 433, 339, 151, 222, 2, ...",157

In [23]:
# We do the same on the test set, except we do not fit the tokenizer this time
test_ds["text_encoded"] = tokenizer.texts_to_sequences(test_ds.text_clean)
test_ds["len_text"] = test_ds["text_encoded"].apply(lambda x: len(x))
test_ds = test_ds[test_ds["len_text"]!=0]

In [24]:
test_ds

,text,Label,text_clean,text_encoded,len_text
0,This movie isn't worth going to the theaters t...,0,movie isn t worth theater watch didn t like ef...,"[2, 87, 4, 134, 434, 9, 44, 4, 5, 97, 2, 85, 1...",40
1,This movie was not very good in my opinion. Wh...,0,movie good opinion complete waste hour half lu...,"[2, 6, 418, 363, 153, 161, 147, 3109, 44, 4, 3...",122
2,"""Lights of New York"" originally started out as...",1,light new york originally start experimental...,"[320, 60, 736, 1698, 56, 3848, 2776, 135, 680,...",192
3,Admirable but weak James Bond film mainly beca...,0,admirable weak james bond film mainly hero bon...,"[5061, 561, 433, 862, 3, 1154, 294, 862, 560, ...",94
4,Quentin in my opinion has written and directed...,0,quentin opinion write direct good movie multip...,"[4879, 418, 81, 196, 6, 2, 2139, 744, 129, 247...",65
...,...,...,...,...,...
7495,My wife and I saw every episode in this series...,0,wife episode series love series cut short fina...,"[176, 124, 82, 19, 82, 277, 135, 285, 124, 435...",25
7496,"Target is the story of a special agent who, af...",0,target story special agent carry order assassi...,"[1389, 11, 149, 875, 550, 352, 6411, 3459, 173...",177
7497,One of the most underrated comedies. Dan Akroy...,1,underrated comedy dan akroyd hilarious role ch...,"[2080, 65, 1917, 376, 52, 1140, 46, 622, 6, 32...",22
7498,This is the sort of unknown and forgotten film...,1,sort unknown forget film dream discover watch ...,"[238, 1347, 312, 3, 488, 549, 9, 41, 206, 721,...",88
7499,If you're a North American 'TOURIST' looking f...,0,north american tourist look trap trading space...,"[1621, 137, 2275, 16, 1113, 470, 1010, 20, 111...",24

In [25]:
tokenizer.index_word

{1: 's',
 2: 'movie',
 3: 'film',
 4: 't',
 5: 'like',
 6: 'good',
 7: 'time',
 8: 'character',
 9: 'watch',
 10: 'bad',
 11: 'story',
 12: 'think',
 13: 'scene',
 14: 'great',
 15: 'know',
 16: 'look',
 17: 'people',
 18: 'don',
 19: 'love',
 20: 'way',
 21: 'play',
 22: 'thing',
 23: 'come',
 24: 'find',
 25: 'man',
 26: 'end',
 27: 'life',
 28: 'actor',
 29: 'plot',
 30: 'work',
 31: 'want',
 32: 'year',
 33: 'try',
 34: 'little',
 35: 'feel',
 36: 'act',
 37: 'm',
 38: 've',
 39: 'guy',
 40: 'lot',
 41: 'old',
 42: 'director',
 43: 'real',
 44: 'didn',
 45: 'funny',
 46: 'performance',
 47: 'doesn',
 48: 'woman',
 49: 'actually',
 50: 'big',
 51: '10',
 52: 'role',
 53: 'long',
 54: 'leave',
 55: 'tell',
 56: 'start',
 57: 'star',
 58: 'cast',
 59: 'young',
 60: 'new',
 61: 'horror',
 62: 'day',
 63: 'world',
 64: 'point',
 65: 'comedy',
 66: 'girl',
 67: 'minute',
 68: 'pretty',
 69: 'fact',
 70: 'turn',
 71: 'acting',
 72: 'music',
 73: 'happen',
 74: 'action',
 75: 'line',
 76: 'set',
 77: 'fan',
 78: 'right',
 79: 'friend',
 80: 'kill',
 81: 'write',
 82: 'series',
 83: 'need',
 84: 'bit',
 85: 'laugh',
 86: 'enjoy',
 87: 'isn',
 88: 'script',
 89: 'far',
 90: 'live',
 91: 'interesting',
 92: 'mean',
 93: 'd',
 94: 'kid',
 95: 'tv',
 96: 'believe',
 97: 'effect',
 98: 'lead',
 99: '2',
 100: 'original',
 101: 'kind',
 102: 'll',
 103: 'family',
 104: 'let',
 105: 'place',
 106: 'reason',
 107: 'fun',
 108: 'probably',
 109: 'book',
 110: 'child',
 111: 'away',
 112: 'run',
 113: 'hard',
 114: 'screen',
 115: 'war',
 116: 'sure',
 117: 'moment',
 118: 'idea',
 119: 'dvd',
 120: 'audience',
 121: 'help',
 122: 'high',
 123: 'especially',
 124: 'episode',
 125: 'expect',
 126: 'sound',
 127: 'read',
 128: 'maybe',
 129: 'win',
 130: 'course',
 131: 'fall',
 132: 'sense',
 133: 'boy',
 134: 'worth',
 135: 'short',
 136: 'job',
 137: 'american',
 138: 'main',
 139: 'different',
 140: 'bring',
 141: 'face',
 142: 'use',
 143: 'recommend',
 144: 'problem',
 145: 'black',
 146: 'shoot',
 147: 'half',
 148: 'death',
 149: 'special',
 150: 'mind',
 151: 'early',
 152: 'second',
 153: 'waste',
 154: 'wasn',
 155: 'true',
 156: 'night',
 157: 'money',
 158: 'version',
 159: 'hope',
 160: 'budget',
 161: 'hour',
 162: 'instead',
 163: 'talk',
 164: 'head',
 165: '1',
 166: 'excellent',
 167: 'hear',
 168: 'later',
 169: 'die',
 170: 'miss',
 171: 'low',
 172: 'john',
 173: 'beautiful',
 174: 'classic',
 175: 'follow',
 176: 'wife',
 177: 'lose',
 178: 'change',
 179: 'poor',
 180: 'understand',
 181: 'eye',
 182: 'completely',
 183: 'remember',
 184: 'house',
 185: 'production',
 186: 'school',
 187: 'piece',
 188: 'begin',
 189: '3',
 190: 'release',
 191: 'stupid',
 192: 'camera',
 193: 'human',
 194: 'word',
 195: 'nice',
 196: 'direct',
 197: 'include',
 198: 'attempt',
 199: 'view',
 200: 'add',
 201: 'appear',
 202: 'feature',
 203: 'game',
 204: 'hand',
 205: 'home',
 206: 'video',
 207: 'simply',
 208: 'viewer',
 209: 'couple',
 210: 'dead',
 211: 'suppose',
 212: 'wrong',
 213: 'care',
 214: 'lack',
 215: 'shot',
 216: 'picture',
 217: 'song',
 218: 'title',
 219: 'father',
 220: 'involve',
 221: 'truly',
 222: 'rest',
 223: 'fight',
 224: 'ending',
 225: 'hollywood',
 226: 'sex',
 227: 'flick',
 228: 'terrible',
 229: 'person',
 230: 'writer',
 231: 'save',
 232: 'mother',
 233: 'wonder',
 234: 'style',
 235: 'awful',
 236: 'decide',
 237: 'small',
 238: 'sort',
 239: 'review',
 240: 'murder',
 241: 'stop',
 242: 'dialogue',
 243: 'meet',
 244: 'case',
 245: 'joke',
 246: 'guess',
 247: 'close',
 248: 'base',
 249: 'definitely',
 250: 'create',
 251: 'perfect',
 252: 'experience',
 253: 'matter',
 254: 'quality',
 255: 'drama',
 256: 'oh',
 257: 'wonderful',
 258: 'couldn',
 259: 'sit',
 260: 'certainly',
 261: 'comment',
 262: 'sequence',
 263: 'absolutely',
 264: 'spend',
 265: 'example',
 266: 'mention',
 267: 'cinema',
 268: 'boring',
 269: 'dark',
 270: 'overall',
 271: 'finally',
 272: 'yes',
 273: 'late',
 274: 'fine',
 275: 'art',
 276: 'deal',
 277: 'cut',
 278: 'force',
 279: 'mr',
 280: 'actress',
 281: 'consider',
 282: 'voice',
 283: 'car',
 284: '5',
 285: 'final',
 286: 'humor',
 287: 'type',
 288: '4',
 289: 'hit',
 290: 'totally',
 291: 'entire',
 292: 'buy',
 293: 'direction',
 294: 'hero',
 295: 'able',
 296: 'white',
 297: 'rent',
 298: 'wait',
 299: 'stand',
 300: 'hold',
 301: 'favorite',
 302: 'brother',
 303: 'despite',
 304: 'fail',
 305: 'killer',
 306: 'relationship',
 307: 'age',
 308: 'ask',
 309: 'horrible',
 310: 'throw',
 311: 'stuff',
 312: 'forget',
 313: 'speak',
 314: 'b',
 315: 'son',
 316: 'heart',
 317: 'group',
 318: 'today',
 319: 'god',
 320: 'light',
 321: 'learn',
 322: 'break',
 323: 'pay',
 324: 'rate',
 325: 'evil',
 326: 'wish',
 327: 'hate',
 328: 'open',
 329: 'town',
 330: 'daughter',
 331: 'monster',
 332: 'credit',
 333: 'michael',
 334: 'portray',
 335: 'talent',
 336: 'genre',
 337: 'number',
 338: 'walk',
 339: 'unfortunately',
 340: 'score',
 341: 'manage',
 342: 'etc',
 343: 'brilliant',
 344: 'power',
 345: 'history',
 346: 'stay',
 347: 'present',
 348: 'entertaining',
 349: 'amazing',
 350: 'city',
 351: 'situation',
 352: 'order',
 353: 'question',
 354: 'soon',
 355: 'level',
 356: 'theme',
 357: 'obviously',
 358: 'strong',
 359: 'self',
 360: 'past',
 361: 'cool',
 362: 'drive',
 363: 'complete',
 364: 'deserve',
 365: 'robert',
 366: 'slow',
 367: 'chance',
 368: 'body',
 369: 'catch',
 370: 'feeling',
 371: 'highly',
 372: 'return',
 373: 'support',
 374: 'pick',
 375: 'event',
 376: 'hilarious',
 377: 'documentary',
 378: 'country',
 379: 'realize',
 380: 'ok',
 381: 'decent',
 382: 'career',
 383: 'simple',
 384: 'team',
 385: 'crap',
 386: 'dog',
 387: 'twist',
 388: 'surprise',
 389: 'reality',
 390: 'beginning',
 391: 'hell',
 392: 'figure',
 393: 'cop',
 394: 'husband',
 395: 'provide',
 396: 'police',
 397: 'dialog',
 398: 'extremely',
 399: 'drug',
 400: 'blood',
 401: 'cause',
 402: 'grow',
 403: 'effort',
 404: 'interest',
 405: 'deliver',
 406: 'subject',
 407: 'element',
 408: 'thriller',
 409: 'violence',
 410: 'sister',
 411: 'gore',
 412: 'female',
 413: 'sequel',
 414: 'value',
 415: 'result',
 416: 'novel',
 417: 'wouldn',
 418: 'opinion',
 419: 'check',
 420: 'david',
 421: 'seriously',
 422: 'room',
 423: 'english',
 424: '80',
 425: 'huge',
 426: 'ago',
 427: 'silly',
 428: 'allow',
 429: 'exactly',
 430: 'particularly',
 431: 'rating',
 432: 'possible',
 433: 'james',
 434: 'theater',
 435: 'producer',
 436: 'scary',
 437: 'note',
 438: 'produce',
 439: 'obvious',
 440: 'strange',
 441: 'compare',
 442: 'cover',
 443: 'sad',
 444: 'happy',
 445: 'spoiler',
 446: 'important',
 447: 'clear',
 448: 'french',
 449: 'jack',
 450: 'western',
 451: 'offer',
 452: 'soundtrack',
 453: 'parent',
 454: 'explain',
 455: 'ridiculous',
 456: 'steal',
 457: 'touch',
 458: 'member',
 459: 'cinematography',
 460: 'cheap',
 461: 'fill',
 462: 'usually',
 463: 'middle',
 464: 'dance',
 465: 'local',
 466: 'deep',
 467: 'attention',
 468: 'image',
 469: 'form',
 470: 'space',
 471: 'tale',
 472: 'pull',
 473: 'focus',
 474: 'television',
 475: 'remain',
 476: 'easy',
 477: 'suspense',
 478: 'alien',
 479: 'non',
 480: 'fast',
 481: 'basically',
 482: 'crime',
 483: 'class',
 484: 'message',
 485: 'doctor',
 486: 'lady',
 487: 'stick',
 488: 'dream',
 489: 'rock',
 490: 'avoid',
 491: 'comic',
 492: 'escape',
 493: 'dr',
 494: 'major',
 495: 'state',
 496: 'pace',
 497: 'somewhat',
 498: 'imagine',
 499: 'usual',
 500: 'earth',
 501: 'water',
 502: 'modern',
 503: 'musical',
 504: 'doubt',
 505: 'air',
 506: 'train',
 507: 'copy',
 508: 'near',
 509: '7',
 510: 'apparently',
 511: 'thank',
 512: 'single',
 513: 'gun',
 514: 'straight',
 515: 'bunch',
 516: 'certain',
 517: 'enjoyable',
 518: 'street',
 519: 'wear',
 520: 'annoying',
 521: 'capture',
 522: '8',
 523: 'haven',
 524: 'opening',
 525: 'agree',
 526: 'send',
 527: 'plan',
 528: 'prove',
 529: 'sorry',
 530: 'having',
 531: 'vampire',
 532: 'o',
 533: 'remind',
 534: 'crew',
 535: 'clearly',
 536: 'aren',
 537: 'gay',
 538: 'chase',
 539: 'soldier',
 540: 'pass',
 541: 'entertainment',
 542: 'george',
 543: 'fire',
 544: 'detail',
 545: 'season',
 546: 'okay',
 547: 'emotion',
 548: 'cartoon',
 549: 'discover',
 550: 'carry',
 551: 'student',
 552: 'date',
 553: 'british',
 554: 'dull',
 555: 'predictable',
 556: 'issue',
 557: 'draw',
 558: 'suck',
 559: 'aspect',
 560: 'villain',
 561: 'weak',
 562: 'similar',
 563: 'blow',
 564: 'filmmaker',
 565: 'future',
 566: 'build',
 567: '20',
 568: 'fit',
 569: 'visual',
 570: '9',
 571: 'box',
 572: 'storyline',
 573: 'hot',
 574: 'battle',
 575: 'victim',
 576: 'notice',
 577: 'choose',
 578: 'material',
 579: 'typical',
 580: 'island',
 581: 'party',
 582: 'believable',
 583: 'king',
 584: 'mystery',
 585: 'develop',
 586: 'match',
 587: 'romantic',
 588: 'reveal',
 589: 'famous',
 590: 'fi',
 591: 'lie',
 592: 'period',
 593: 'easily',
 594: 'large',
 595: 'bear',
 596: 'eat',
 597: 'male',
 598: 'average',
 599: 'stage',
 600: 'contain',
 601: 'peter',
 602: 'sci',
 603: 'masterpiece',
 604: 'writing',
 605: 'oscar',
 606: 'brain',
 607: 'standard',
 608: 'beat',
 609: 'attack',
 610: 'teen',
 611: 'lame',
 612: 'shame',
 613: 'fantastic',
 614: 'week',
 615: 'mark',
 616: 'ride',
 617: 'appreciate',
 618: 'realistic',
 619: 'cry',
 620: 'list',
 621: 'dumb',
 622: 'nearly',
 623: 'describe',
 624: 'disappoint',
 625: 'free',
 626: 'bother',
 627: 'footage',
 628: 'richard',
 629: 'society',
 630: 'continue',
 631: 'studio',
 632: 'bill',
 633: 'gets',
 634: 'master',
 635: 'location',
 636: 'fly',
 637: 'america',
 638: '70',
 639: 'premise',
 640: 'choice',
 641: 'truth',
 642: 'cheesy',
 643: 'tom',
 644: 'general',
 645: 'emotional',
 646: 'mess',
 647: 'atmosphere',
 648: 'bore',
 649: 'treat',
 650: 'beauty',
 651: 'inside',
 652: 'imdb',
 653: 'secret',
 654: 'red',
 655: 'adult',
 656: 'memorable',
 657: 'forward',
 658: 'romance',
 659: 'poorly',
 660: 'weird',
 661: 'finish',
 662: 'difficult',
 663: 'background',
 664: 'accent',
 665: 'century',
 666: 'badly',
 667: 'perfectly',
 668: 'e',
 669: 'sexual',
 670: 'actual',
 671: 'admit',
 672: 'particular',
 673: 'rich',
 674: 'adventure',
 675: 'lover',
 676: 'personal',
 677: 'blue',
 678: 'plus',
 679: 'girlfriend',
 680: 'eventually',
 681: 'entertain',
 682: 'project',
 683: 'animation',
 684: 'baby',
 685: 'control',
 686: 'surprised',
 687: 'suggest',
 688: 'wood',
 689: 'fear',
 690: 'previous',
 691: 'quickly',
 692: 'zombie',
 693: 'odd',
 694: 'total',
 695: 'editing',
 696: 'rip',
 697: 'crazy',
 698: 'company',
 699: 'creature',
 700: 'channel',
 701: 'remake',
 702: '30',
 703: 'german',
 704: 'term',
 705: 'interested',
 706: 'track',
 707: 'memory',
 708: 'business',
 709: 'nature',
 710: 'post',
 711: 'screenplay',
 712: 'unique',
 713: 'perform',
 714: 'shock',
 715: 'maker',
 716: 'possibly',
 717: 'powerful',
 718: 'struggle',
 719: 'accept',
 720: 'success',
 721: 'superb',
 722: 'cat',
 723: 'scream',
 724: 'thought',
 725: 'political',
 726: 'incredibly',
 727: 'hole',
 728: '90',
 729: 'fairly',
 730: 'plenty',
 731: 'development',
 732: 'serve',
 733: 'fantasy',
 734: 'de',
 735: 'f',
 736: 'york',
 737: 'store',
 738: 'italian',
 739: 'player',
 740: 'plain',
 741: 'apart',
 742: 'land',
 743: 'soul',
 744: 'award',
 745: 'language',
 746: 'respect',
 747: 'joe',
 748: 'suffer',
 749: 'animal',
 750: 'japanese',
 751: 'depth',
 752: 'park',
 753: 'paul',
 754: 'creepy',
 755: 'gang',
 756: 'camp',
 757: 'kick',
 758: 'costume',
 759: 'band',
 760: 'van',
 761: '50',
 762: 'trouble',
 763: 'ability',
 764: 'portrayal',
 765: 'dress',
 766: 'answer',
 767: 'travel',
 768: 'appearance',
 769: 'concept',
 770: 'anti',
 771: 'dramatic',
 772: 'clever',
 773: 'outside',
 774: 'judge',
 775: 'tear',
 776: 'fake',
 777: 'pop',
 778: 'roll',
 779: 'c',
 780: 'drag',
 781: 'mad',
 782: 'yeah',
 783: 'sell',
 784: 'era',
 785: 'step',
 786: 'recently',
 787: 'listen',
 788: 'destroy',
 789: 'william',
 790: 'hair',
 791: '6',
 792: 'spot',
 793: 'spirit',
 794: 'hitchcock',
 795: 'public',
 796: 'law',
 797: 'alive',
 798: 'appeal',
 799: 'cute',
 800: 'search',
 801: 'million',
 802: 'mix',
 803: 'culture',
 804: 'bed',
 805: 'office',
 806: 'science',
 807: 'smart',
 808: 'disney',
 809: 'color',
 810: 'door',
 811: '15',
 812: 'college',
 813: 'flat',
 814: 'hide',
 815: 'setting',
 816: 'introduce',
 817: 'rise',
 818: 'jump',
 819: 'entirely',
 820: 'humour',
 821: 'taste',
 822: 'design',
 823: 'mistake',
 824: 'flaw',
 825: 'sleep',
 826: 'nudity',
 827: 'marry',
 828: 'u',
 829: 'slightly',
 830: 'race',
 831: 'fiction',
 832: 'purpose',
 833: 'la',
 834: 'pure',
 835: 'ed',
 836: 'road',
 837: 'tension',
 838: 'exist',
 839: 'unlike',
 840: 'ship',
 841: 'co',
 842: 'trash',
 843: 'popular',
 844: 'scientist',
 845: 'got',
 846: 'pathetic',
 847: 'torture',
 848: 'sick',
 849: 'hurt',
 850: 'relate',
 851: 'reach',
 852: 'edge',
 853: 'teenager',
 854: 'common',
 855: 'hardly',
 856: 'extra',
 857: 'count',
 858: 'plane',
 859: 'claim',
 860: 'intelligent',
 861: 'lee',
 862: 'bond',
 863: 'incredible',
 864: 'cross',
 865: 'silent',
 866: 'available',
 867: 'giant',
 868: 'ring',
 869: 'aside',
 870: 'talented',
 871: 'record',
 872: 'share',
 873: 'sing',
 874: 'pointless',
 875: 'agent',
 876: 'promise',
 877: 'amusing',
 878: 'genius',
 879: 'ruin',
 880: 'horse',
 881: 'reference',
 882: 'cold',
 883: 'suddenly',
 884: 'survive',
 885: 'suspect',
 886: 'jones',
 887: 'interview',
 888: 'familiar',
 889: 'normal',
 890: 'honest',
 891: 'folk',
 892: 'intend',
 893: 'critic',
 894: 'sexy',
 895: 'trip',
 896: 'approach',
 897: 'positive',
 898: 'fair',
 899: 'potential',
 900: 'mood',
 901: 'sam',
 902: 'inspire',
 903: 'violent',
 904: 'sadly',
 905: 'successful',
 906: 'bizarre',
 907: 'club',
 908: 'journey',
 909: 'receive',
 910: 'cost',
 911: 'conclusion',
 912: 'grade',
 913: 'army',
 914: 'area',
 915: 'tough',
 916: 'tone',
 917: 'garbage',
 918: 'affair',
 919: 'burn',
 920: 'wind',
 921: 'raise',
 922: 'ray',
 923: 'machine',
 924: 'awesome',
 925: 'hang',
 926: 'buddy',
 927: 'seek',
 928: 'gag',
 929: 'personality',
 930: 'arrive',
 931: 'adaptation',
 932: 'west',
 933: 'sweet',
 934: 'repeat',
 935: 'likely',
 936: 'rape',
 937: 'south',
 938: 'basic',
 939: 'government',
 940: 'prison',
 941: 'barely',
 942: 'suit',
 943: 'bar',
 944: 'drop',
 945: 'literally',
 946: 'ghost',
 947: 'exciting',
 948: 'ryan',
 949: 'everybody',
 950: 'crash',
 951: 'impressive',
 952: 'radio',
 953: '100',
 954: 'slasher',
 955: 'wall',
 956: 'weren',
 957: 'g',
 958: 'scare',
 959: 'rule',
 960: 'immediately',
 961: 'naked',
 962: 'display',
 963: 'super',
 964: 'study',
 965: 'personally',
 966: 'gem',
 967: 'social',
 968: 'impossible',
 969: 'recent',
 970: 'warn',
 971: 'surprisingly',
 972: 'opera',
 973: 'making',
 974: 'concern',
 975: 'climax',
 976: 'ground',
 977: 'ultimately',
 978: 'strike',
 979: 'charm',
 980: 'scenery',
 981: 'foot',
 982: 'honestly',
 983: 'succeed',
 984: 'depict',
 985: 'snake',
 986: 'presence',
 987: 'effective',
 988: 'solid',
 989: 'convincing',
 990: 'computer',
 991: 'indian',
 992: 'ex',
 993: 'excuse',
 994: 'difference',
 995: 'teacher',
 996: 'expectation',
 997: 'innocent',
 998: 'hey',
 999: 'enter',
 1000: 'handle',
 ...}

In [26]:
train_pad = tf.keras.preprocessing.sequence.pad_sequences(train_ds.text_encoded, padding="post")
test_pad = tf.keras.preprocessing.sequence.pad_sequences(test_ds.text_encoded, padding="post")

In [27]:
# We'll use this to form a tensorflow dataset containing on the one hand
# the encoded texts and the labels.
train_ds = tf.data.Dataset.from_tensor_slices((train_pad, train_ds.Label))
test_ds = tf.data.Dataset.from_tensor_slices((test_pad, test_ds.Label))

# We then organize the dataste per batch
train_ds = train_ds.shuffle(len(train_ds)).batch(1024)

test_ds = test_ds.shuffle(len(test_ds)).batch(1024)

# **Model Prediction**

In [28]:
embedding_dim=16 # the dimensionality of the representation space

vocab_size = tokenizer.num_words # the number of words in the vocabulary
model = Sequential([
  Embedding(vocab_size, embedding_dim, name="embedding"), # the embedding layer
  # the input dim needs to be equal to the size of the vocabulary + 1 (because of
  # the zero padding)
  GlobalAveragePooling1D(), # this will pick the average for every word in the sentence
  # along each dimension of the representation space.
  Dense(16, activation='relu'), # a dense layer
  Dense(1, activation="sigmoid") # the prediction layer
])

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, None, 16)          160000

 global_average_pooling1d (G  (None, 16)               0
 lobalAveragePooling1D)

 dense (Dense)               (None, 16)                272

 dense_1 (Dense)             (None, 1)                 17

=================================================================
Total params: 160,289
Trainable params: 160,289
Non-trainable params: 0
_________________________________________________________________

In [52]:
tensorboard_callback = tf.keras.callbacks.TensorBoard(log_dir="logs2")

In [53]:
model.compile(optimizer='adam',
              loss=tf.keras.losses.BinaryCrossentropy(),
              metrics=['accuracy'])

In [54]:
model.fit(
    train_ds,
    validation_data=test_ds,
    epochs=15,
    callbacks=[tensorboard_callback])

Epoch 1/15
18/18 [==============================] - 3s 113ms/step - loss: 0.2699 - accuracy: 0.9127 - val_loss: 0.3201 - val_accuracy: 0.8783
Epoch 2/15
18/18 [==============================] - 2s 97ms/step - loss: 0.2638 - accuracy: 0.9151 - val_loss: 0.3158 - val_accuracy: 0.8796
Epoch 3/15
18/18 [==============================] - 2s 102ms/step - loss: 0.2582 - accuracy: 0.9165 - val_loss: 0.3158 - val_accuracy: 0.8789
Epoch 4/15
18/18 [==============================] - 3s 142ms/step - loss: 0.2540 - accuracy: 0.9160 - val_loss: 0.3096 - val_accuracy: 0.8808
Epoch 5/15
18/18 [==============================] - 2s 108ms/step - loss: 0.2480 - accuracy: 0.9204 - val_loss: 0.3094 - val_accuracy: 0.8808
Epoch 6/15
18/18 [==============================] - 2s 104ms/step - loss: 0.2443 - accuracy: 0.9202 - val_loss: 0.3032 - val_accuracy: 0.8831
Epoch 7/15
18/18 [==============================] - 2s 105ms/step - loss: 0.2391 - accuracy: 0.9223 - val_loss: 0.3007 - val_accuracy: 0.8835
Epoch 8/15
18/18 [==============================] - 2s 104ms/step - loss: 0.2349 - accuracy: 0.9237 - val_loss: 0.2984 - val_accuracy: 0.8848
Epoch 9/15
18/18 [==============================] - 2s 106ms/step - loss: 0.2308 - accuracy: 0.9249 - val_loss: 0.2969 - val_accuracy: 0.8845
Epoch 10/15
18/18 [==============================] - 2s 107ms/step - loss: 0.2266 - accuracy: 0.9262 - val_loss: 0.2941 - val_accuracy: 0.8845
Epoch 11/15
18/18 [==============================] - 2s 103ms/step - loss: 0.2230 - accuracy: 0.9270 - val_loss: 0.2921 - val_accuracy: 0.8852
Epoch 12/15
18/18 [==============================] - 2s 106ms/step - loss: 0.2189 - accuracy: 0.9278 - val_loss: 0.2905 - val_accuracy: 0.8861
Epoch 13/15
18/18 [==============================] - 2s 105ms/step - loss: 0.2162 - accuracy: 0.9283 - val_loss: 0.2883 - val_accuracy: 0.8859
Epoch 14/15
18/18 [==============================] - 2s 134ms/step - loss: 0.2119 - accuracy: 0.9299 - val_loss: 0.2870 - val_accuracy: 0.8856
Epoch 15/15
18/18 [==============================] - 2s 128ms/step - loss: 0.2085 - accuracy: 0.9308 - val_loss: 0.2867 - val_accuracy: 0.8875

In [48]:
#writer = tf.summary.create_file_writer("/content/logs2")

In [55]:
#docs_infra: no_execute
#%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [57]:
#tensorboard --log_dir logs2

ERROR: Failed to launch TensorBoard (exited with 1).
Contents of stderr:
Error: A logdir or db must be specified. For example `tensorboard --logdir mylogdir` or `tensorboard --db sqlite:~/.tensorboard.db`. Run `tensorboard --helpfull` for details and examples.

In [61]:
import os
import io
vocab = [value for value in tokenizer.index_word.values()][:1000]
weights = model.get_layer('embedding').get_weights()[0]

log_dir = "/content/logs2"
os.makedirs(log_dir, exist_ok=True)
out_v = io.open(log_dir+"/vectors.tsv", 'w', encoding='utf-8')
out_m = io.open(log_dir+"/metadata.tsv", 'w', encoding='utf-8')

for index, word in enumerate(vocab):
  if index == 0:
    continue  # skip 0, it's padding.
  vec = weights[index]
  out_v.write('\t'.join([str(x) for x in vec]) + "\n")
  out_m.write(word + "\n")
out_v.close()
out_m.close()